<h2>詳細 用語 (id=<%= @acro.id %>)</h2>

<table id="glossary-detail" >
  <tbody>
    <tr>
      <td>頭文字</td>
        <td>
          <%= @acro.acronym %>
        </td>
    </tr>
    <tr>
      <td>定義</td>
        <td>
          <%= @acro.definition %>
        </td>
    </tr>
    <tr>
      <td>もと</td>
        <td>
          <%= @acro.origin %>
        </td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_acronym_path(@acro) %> | 
<%= link_to '戻る', acronyms_path %>